.root-pane {
    -fx-background-color: linear-gradient(to bottom right, #0A2918, #3D5742);
    -fx-font-family: "Open Sans";
}

.card {
    -fx-background-color: #FFFFFF;
    -fx-padding: 80 140;
    -fx-background-radius: 20;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.15), 25, 0, 0, 0);
    -fx-max-width: 800;
    -fx-max-height: 550;
    -fx-alignment: CENTER;
    -fx-transition: none;
}

.card:hover {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.15), 25, 0, 0, 0);
    -fx-translate-y: 0;
}


.login-form {
    -fx-spacing: 20;
    -fx-alignment: center;
    -fx-background-color: transparent;
}

.login-form TextField,
.login-form PasswordField {
    -fx-background-color: #F5F5F5;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-border-color: #D9D9D9;
    -fx-border-width: 1;
    -fx-padding: 10;
    -fx-font-size: 14px;
    -fx-pref-width: 190;
}


.btn-login {
    -fx-background-color: #6E8268;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-background-radius: 10;
    -fx-padding: 10 40;
    -fx-pref-width: 180;
    -fx-margin-bottom: 30px;
}

.btn-login:hover {
    -fx-background-color: #3B533B;
}

.inscription-text {
    -fx-text-fill: #000000;
    -fx-font-size: 12px;
}

.hyperlink {
    -fx-text-fill: #3B533B;
}
